@import url('https://fonts.googleapis.com/css2?family=Arsenal&display=swap');
body {
  
  font-family: 'Arsenal', sans-serif;
  background-color: #f0f0f0;
  
}

form {
  background-color: #fff;
  padding: 20px;
  font-size: 17px;
  border-radius: 5px;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
}
input[type="text"],
input[type="number"] {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #f2f2f2;
  font-size: 17px;
  color: #666;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

input[type="text"],
input[type="number"]:focus {
  outline: none;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  background-color: #e0e0e0;
}

button{
  background-color: #EFEFED;
  color: #000;
  border: none;
  border-radius: 5px;
  padding: 10px 10px;
  cursor: pointer;
  border: 1px solid #ccc;
}
button:hover{
  background-color: #acacac;
  color: #000;
  border: none;
  border-radius: 5px;
  padding: 10px 10px;
  cursor: pointer;
  border: 1px solid #ccc;
}

button[name="submit"]:hover {
}

button[name="submit"] {
  background-color: #EFEFED;
  color: #000;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  border: 1px solid #ccc;
}

button[name="submit"]:hover {
  background-color: #EFEFED;
}

#result {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #000000;
  
}
div{
  /* border: 1px solid #ccc; */
  margin-bottom: 17px;

  

}


input[type=range] {
  -webkit-appearance: none;
  width: 20%;
  height: 10px;
  margin: 10px 0;
  background-color: #ddd;
  border-radius: 10px;

}

input[type=range]:focus {

}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 30px;
  height: 30px;
  background-color: #000000;
  border-radius: 50%;
  cursor: pointer;
}

input[type=range]::-moz-range-thumb {
  width: 30px;
  height: 30px;
  background-color: #000000;
  border-radius: 50%;
  cursor: pointer;
}



@media (max-width: 600px) {
  @import url('https://fonts.googleapis.com/css2?family=Arsenal&display=swap');

body {
font-family: 'Arsenal', sans-serif;

}

form {

padding: 10px;

border-radius: 5px;
margin-bottom: 10px;
font-size: 18px;
max-width: 100%;
}

label {
display: block;
margin-bottom: 5px;

}

input[type="text"],
input[type="number"] {
padding: px;
border: none;
border-radius: 5px;
background-color: #f2f2f2;
font-size: 18px;
color: #666;
box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
max-width: 65px;
}


button{
background-color: #EFEFED;
color: #000;
border: none;
border-radius: 5px;
padding: 5px 5px;
cursor: pointer;
border: 1px solid #ccc;
font-size: 18px;
}

button:hover{
background-color: #acacac;
color: #000;
border: none;
border-radius: 5px;
padding: 5px 5px;
cursor: pointer;
border: 1px solid #ccc;
}

button[name="submit"] {
background-color: #EFEFED;
color: #000;
border: none;
border-radius: 5px;
padding: 5px 10px;
cursor: pointer;
border: 1px solid #ccc;
}

button[name="submit"]:hover {
background-color: #EFEFED;
}

#result {
background-color: #fff;
padding: 10px;
border: 1px solid #ccc;
border-radius: 5px;
color: #000000;
}

div{
margin-bottom: 10px;

}
input[type=range] {
  -webkit-appearance: none;
  width: 20%;
  height: 10px;
  margin: 10px 0;
  background-color: #ddd;
  border-radius: 10px;

}

input[type=range]:focus {

}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 30px;
  height: 30px;
  background-color: #000000;
  border-radius: 50%;
  cursor: pointer;
}

input[type=range]::-moz-range-thumb {
  width: 30px;
  height: 30px;
  background-color: #000000;
  border-radius: 50%;
  cursor: pointer;
}
}